*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    background-color: green;
    color: white;
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
}

.g4{
    background-color: rgb(127, 207, 127);
}

.z4{
    background-color: rgb(208, 110, 110);
}

.pre{
    background-color: rgb(115, 177, 197);
}
.espec{
    color: white;
    background-color: black;
}